@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('../images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 90% -25%;
}

#cta {
    background-image: url('../images/bg-simplify-section-desktop.svg');
    background-repeat: no-repeat;
}

@media(max-width: 576px) {
    body {
        background-position: 50% -50%;
        background-size: 500px;
    }

    #cta {
        background-image: url('../images/bg-simplify-section-mobile.svg');
    }
}

/* Hamburger Menu */

.hamburger {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all 0.25s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: rotate(0deg);
    transition: all 0.25s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* Form */
.error {
    display: none;
}

.error.show {
    display: block;
}